/* body */
.body
{
    background-color: #e6e6e6;
}

/* header */
.header
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    align-items: center;
}

.title
{
    margin-right: auto;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    margin: 0 0 0 15px;
}

.menu-item
{
    list-style: none;
    display: flex;
    padding: 50px;
    margin: 0;
}

#li
{
    margin: 0 0 0 15px;
    font-size: 14;
}

.nav
{
    margin: 0 0 0 auto;
}

/* main */

.text
{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.text2
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.cen
{
    text-align: center;
}

.img
{
    
    width: 591px;
    height: 392px;
}


#content
{
    font-family: 'Amatic SC', cursive;
}

/* footer */
.footer
{
    text-align: center;
    font-size: 8px;
}